/* Forum */
.forum-post-info,
.forum-post-wrapper,
.forum-post-footer {
  color: #474747;
}

.user-picture {
  padding-left: 0;
}

.field-label-inline .field-item {
  display: inline-block;
  padding-right: 6px;
}

.forum-post-panel-main {
  min-height: 100px;
}

/* Flags */
.flag-subscribe .flag-action {
  background-color: #299E29;
  color: #fff;
  padding: 4px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 3px;
}

.flag-subscribe .flag-action:hover {
  background-color: green;
  text-decoration: none;
}

.flag-subscribe .unflag-action {
  background-color: #CE4F1C;
  color: #fff;
  padding: 4px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 3px;
}

.flag-subscribe .unflag-action:hover {
  background-color: red;
  text-decoration: none;
}

.flag-message {
  top: 2.4em;
}

/* User mentions */
.mention-suggestions {
  position: absolute;
  padding: 10px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #ff7320;
  border-radius: 5px;
  opacity: 0.95;
}

.mention-suggestions a {
  cursor: pointer;
}

#edit-slack-email {
  max-width: 200px;
}

